*{
    margin: 0;
    padding: 0;

}
.drive-nav1{
    display: flex;
    size: 30px;
    background-color:white;
    border-color: black;
    border-bottom: 50px;
    box-shadow: 5px 2px 7px 5px #d2d3d6;
    position: fixed;
    width: 100%;

}
.dn{
    height: 25px;
    margin-left: 50px;
    margin-top: 23px;
    cursor: pointer;


}
.joy{
    display: flex;
    margin-top: 200px;
    height: auto;
    margin-left: 120px;
    
}

.joy104{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 15px;
}

.joy401 img{
    height: 450px;
    width: 600px;
}

.joy201{
    display: flex;
    
}

.joy202{
    padding: 20px;
    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: grab;
    border: white;
}

.joy203{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
    border: white;
    
}
.joy301{
    display: flex;
}

.joy302{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
    border: white;
    
}


.joy303{
    /* padding: 20px; */
    margin-top: 50px;
    margin-bottom: 20px; 
    margin-right: 20px;
}

.love102{
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    display: flex;

}

.love101{
    display: flex;
    margin-top: 30px;
}


.love201 img{
    height: 450px;
    width: 600px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;

}
.love401{
    margin-top: 100px;

}
.love301{
    font-weight: bolder;
    font-size: 43px;
    margin-bottom: 15px;
}
.hope{
    display: flex;
    margin-top: 30px;
    margin-left: 130px;
}

.hope301 img{
    height: 500px;
    width: 650px;
    margin-top: 20px;
    margin-right: 40px;

}
.hope101{
    margin-top: 100px;
    padding: 20px;

}

.hope201{
    font-weight: bolder;
    font-size: 43px;
    margin-bottom: 15px;
}

.hope202{
    color: blue;

}

.faith101{
    display: flex;
    margin-top: 50px;
}

.faith201 img{
    height: 400px;
    width: 650px;
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;

}

.faith202{
    margin-top: 100px;
    padding: 25px;
}


.faith301{
    font-weight: bolder;
    font-size: 43px;
    margin-bottom: 15px;   
}


.bless{
    display: flex;
    margin-top: 50px;
}

.bless301 img{
    height: 400px;
    width: 650px;
    margin-top: 20px;
    margin-right: 60px;
    padding: 10px;

}

.bless101{
    margin-top: 100px;
    padding: 25px;

}

.bless201{
    font-weight: bolder;
    font-size: 43px;
    margin-bottom: 15px;   
}


.God{
    justify-content: center;
    margin-top: 50px;
    margin: 0cm 1cm;
    text-align: center;
    background: whitesmoke;
    padding-block: 40px;
    /* max-width: 20px; */
    

}

.god101{
    margin-bottom: 70px;
    margin-top: 100px;
}

.god201{
    font-weight: bolder;
    font-size: 43px;
    margin-bottom: 15px;  

}

.god301{
    /* display: flex; */
    padding: 30px;
    /* margin: 90px; */
    justify-content: space-between;
    display: inline-flex;

}

.god1{
    padding: 20px;

}

.god2{
    padding: 20px;
    
}


.god3{
    padding: 20px;
    
}


.god4{
    padding: 20px;
    
}
.holy{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.holy h3{
    text-align: center;
}
